/* General Styles */
* {
  padding: 0;
  margin: 0;
  color: #1a1f36;
  box-sizing: border-box;
  word-wrap: break-word;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Ubuntu, sans-serif;
}

body {
  min-height: 100%;
  background-color: #ffffff;
}

h1 {
  letter-spacing: -1px;
}

a {
  color: #5469d4;
  text-decoration: none;
}

/* Main Container */
.login-root {
  background: #fff;
  display: flex;
  flex-direction: column; /* Ensure vertical layout */
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

/* Flex Utilities */
.flex-flex {
  display: flex;
}

.flex-direction--column {
  flex-direction: column;
}

.flex-justifyContent--center {
  justify-content: center;
}

/* Padding Utilities */
.padding-top--64 {
  padding-top: 64px;
}

.padding-top--24 {
  padding-top: 24px;
}

.padding-bottom--24 {
  padding-bottom: 24px;
}

.padding-horizontal--48 {
  padding: 48px;
}

/* Form Styles */
.formbg-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px); /* Adjust height to fit within viewport */
}

.formbg {
  width: 100%;
  max-width: 448px;
  background: white;
  border-radius: 4px;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}

.formbg-inner {
  padding: 48px;
}

.field {
  margin-bottom: 24px;
}

.field input {
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  width: 100%;
  min-height: 44px;
  border: unset;
  border-radius: 4px;
  outline-color: rgba(84, 105, 212, 0.5);
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 0px 1px;
}

input[type="submit"] {
  background-color: rgb(84, 105, 212);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  min-height: 44px;
}

.field-checkbox input {
  width: 20px;
  height: 15px;
  margin-right: 5px;
}

.field-checkbox label {
  display: flex;
  align-items: center;
  margin: 0;
}

a.ssolink {
  display: block;
  text-align: center;
  font-weight: 600;
}

.footer-link {
  display: none; /* Hide footer links */
}

/* Product Table Styles */
.product-table {
  width: 100%;
  border-collapse: collapse;
}

.product-table th, .product-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #e3e8ee;
}

.product-table th {
  background-color: #f8f9fa;
}

.product-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.btn-edit, .btn-delete {
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
}

.btn-edit {
  background-color: #4caf50; /* Green */
}

.btn-delete {
  background-color: #f44336; /* Red */
}
